<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personendaten.Properties.Settings.ConnectionString"
            connectionString="Data Source=C:\Users\andreas.bendig\source\repos\Personendaten\Personendaten\db\Personendaten.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>